
// Font.
$font: (
  primary: ("Lexend",sans-serif),
  monospace: (Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace)
);

// Palette.
$palette: (
  charcoal:          #111827,
  charcoal-light-3:  lighten(#272c30, 3%),
  charcoal-light-7:  lighten(#E5E7EB, 100%),
  charcoal-light-15: lighten(#D1D5DB, 100%),
  charcoal-light-25: lighten(#9CA3AF, 100%),
  charcoal-light-40: lighten(#6B7280, 100%),
  charcoal-light-60: lighten(#4B5563, 100%),
  charcoal-light-75: lighten(#374151, 100%),
  charcoal-light-80: lighten(#1F2937, 100%),
  charcoal-dark-15:  darken(#272c30, 15%),
  accent:            #d8195e,
  accent-blue:       #0c8aea,
  accent-green:      #0da5b1,
  accent-violet:     #7c43a8,
  accent-yellow:     #ed9700
);

@import "imports/functions";
@import "imports/reset";
@import "imports/general";
@import "imports/buttons";
@import "imports/icons";
@import "imports/forms";
@import "imports/helpers";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
@import "imports/portfolio";
@import "imports/sections";
@import "imports/footer";
@import "imports/banner";
